@font-face {
    font-family: "YUCCA";
    src: url("magentik-light.otf") format("opentype");
}

body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: Magnetik;
}

.headermenu {

    display: flex;
    justify-content: center;
    /* align-items: center; */

    font-size: 35px;

}

.datasetinfo {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    
    row-gap: 20px;
    column-gap: 100px;

}

.datacard {
    border: solid 2px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.titlebox {
    background-color: black;
    color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.description {    
    padding: 10px;
}

.emailbox {

    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;

    border: solid 2px white;
    border-radius: 20px;

    color: white;
    background-color: black;

    width: fit-content;
    margin: 20px auto;

}

.emailbox p{
    padding: 1px;
    margin: 1px;
}

.emailbox form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}

.emailbox form input {
    border-radius: 20px;
    width: 250px;
    padding: 20px;
}

.emailbox form button {
    /* border-radius: 5px; */
    /* padding-top: 500px; */
    width: 150px;
    padding: 10px;
    margin: 25px;
}

.emailbox form button:hover{
    background-color: black;
    color: white;
}