DATABASE_URL=sqlite:///./sql_app.db
RAZORPAY_KEY_ID=test_id
RAZORPAY_KEY_SECRET=test_secret
JWT_SECRET_KEY=your_super_secret_jwt_key
ADMIN_EMAIL=your_admin_username_or_email
ADMIN_PASSWORD=your_secure_admin_password
